// bold cools
$navy: #1E202C;
$leaf: #2D6E68;
$denim: #34425C;
$turquoise: #14C2C0;
$peacock: #014B56;
$tan: #E1E5D4;

// mug palette
$blueGreen: #98b3aa;
$brown: #6b5545;
$sand: #E3D8C2;
$softWhite: #FAFAFA;
$blueGray: #9aaaa9;
$slate: #738183;


$bodyBackground: $navy;
$linkText: $turquoise;
$text: $tan;
$textBackground: $denim;
$headerBackground: $peacock;
$headerText: $turquoise;
$footerBackground: $peacock;
$footerText: $turquoise;
$buttonColor: $turquoise;
$buttonTextColor: $navy;